.topbar {
}
.app-main{
  width: 100%;

}
#topbar{
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #D2D6DA;
}
.topbar-wrap {
  height: 72px;

}

.topbar-left {
}

.logo {
}

.module-title {
}

.topbar-right {
}